html {
 /**
  Setting the height to prevent the page from scrolling up in certain situations
 **/
 height: 100%;
}

body {
    position: absolute;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #000000;
    color: white;
}

h1 {
    position: center;
}