html {
 /**
  Setting the height to prevent the page from scrolling up in certain situations
 **/
 height: 100%;
}

body {width:100%;font-family: "Open Sans","Helvetica Neue",Arial,sans-serif; margin: 0; padding: 0}

.header{border: 3px solid; padding-right: 1em; background-color:#fbfcfd;}
.header img#logo {max-width:200px; float: left}
.header h1{text-align: right; font-size:3vw; line-height: 70px}

.contenu{padding-left: 1em}

h1, h2 {
	color: lightslategray;
	text-transform:uppercase;
	font-weight:bold;
	font-size:47px;
	margin-bottom: 1em;
}

form{
	margin-top: 4em;
}

.champsRecherche {
		float: left;
	}

/* Use a media query to add a breakpoint at 600px: */
@media screen and (max-width: 600px) {
	.champsRecherche {
		float: inherit;
		width: 100%; /* The width is 100%, when the viewport is 600px or smaller */
	}

}