html {
 /**
  Setting the height to prevent the page from scrolling up in certain situations
 **/
 height: 100%;
}

body {position: absolute;font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;color: black}

.header {text-align:left;width:100%;padding-right:4%;box-sizing: border-box;}
.header div img#logo {width:200px;}