{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DESIGN4GREEN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accueil/css/accueil.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <img id="logo" alt="logo" src="{% static 'accueil/img/logo-inr.jpg' %}">
        <h1>Projet D4G Team.Random()</h1>
    </header>
    <div class="contenu">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="champsRecherche">
                <table>
                    <tr>
                        <th><label for="{{ form.region.id_for_label }}"></label></th>
                        <th><label for="{{ form.departement.id_for_label }}"></label></th>
                        <th><label for="{{ form.postalCode.id_for_label }}"></label></th>
                        <th><label for="{{ form.commune.id_for_label }}"></label></th>
                    </tr>
                    <tr>
                        <td>{{ form.region }}</td>
                        <td>{{ form.departement }}</td>
                        <td>{{ form.postalCode }}</td>
                        <td>{{ form.commune }}</td>
                    </tr>
                </table>
            </div>
            <div class="bouton">
                <button type="submit">rechercher</button>
            </div>
        </form>
    </div>
    <footer>
        <p>@Team.Random()</p>
        <p>CGU</p>
    </footer>
</body>
</html>