{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DESIGN4GREEN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accueil/css/accueil.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <img id="logo" alt="logo" src="{% static 'accueil/img/logo-inr.jpg' %}">
        <h1>Projet D4G Team numéro 21</h1>
    </header>
    <div class="contenu">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="champsRecherche">
                <table>
                    <tr>
                        <th><label for="{{ form.region.id_for_label }}"></label></th>
                        <th class="hiden"><label for="{{ form.departement.id_for_label }}"></label></th>
                        <th><label for="{{ form.postalCode.id_for_label }}"></label></th>
                        <th><label for="{{ form.commune.id_for_label }}"></label></th>
                    </tr>
                    <tr>
                        <td>
                            <select name="regions" id="regions">
                                <option
                                    {% if default_libreg %}
                                        value="{{ default_libreg }}">
                                    {% else %}
                                        value="">
                                    {% endif %}
                                    {% if default_libreg %}
                                        {{ default_libreg }}
                                    {% else %}
                                        --Choisissez une région--
                                    {% endif %}
                                </option>
                                {% for region in regions %}
                                    <option value="{{ region.libreg }}">{{ region.libreg }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="departements" id="departements">
                                <option
                                    {% if default_libdep %}
                                        value="{{ default_libdep }}">
                                    {% else %}
                                        value="">
                                    {% endif %}
                                    {% if default_libdep %}
                                        {{ default_libdep }}
                                    {% else %}
                                        --Choisissez un départment--
                                    {% endif %}
                                </option>
                                {% for departement in departements %}
                                    <option value="{{ departement.libdep }}">{{ departement.libdep }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ form.postalCode }}</td>
                        <td>
                            <select name="communes" id="communes">
                                <option value="">--Choisissez une commune--</option>
                                {% for commune in communes %}
                                    <option value="{{ commune.libcom }}">{{ commune.libcom }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bouton">
                <button type="submit" id="rechercheRegion">rechercher</button>
                <!--button type="submit" id="rechercheDep">rechercher</button-->
                <button type="reset">Réinitialiser</button>
            </div>
            <div>
                <button onclick="creationPDF()">Télécharger le résultat au format PDF</button>
            </div>
        </form>
        <div class="resultats">
            <table>
                <tr>
                    <td>N° region | Nom region | Nom departement | Nom ommune | Code postale</td>
                </tr>
                {% for com in final %}
                <tr>
                    <td>{{ com }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <footer>
        <p>@Team numéro 21</p>
        <p>CGU</p>
    </footer>


    <script src="{%  static 'accueil/jspdf.debug.js' %}"></script>
    <script src="{%  static 'accueil/jspdf.min.js' %}"></script>
    <script src="{%  static 'accueil/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'accueil/js/jsPDF.js' %}"></script>
    <!--script src="{% static 'accueil/js/showFormular.js' %}"></script-->
</body>
</html>