{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DESIGN4GREEN</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accueil/css/accueil.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <img id="logo" alt="logo" src="{% static 'accueil/img/logo-inr.jpg' %}">
        <h1>Projet D4G Team.Random()</h1>
    </header>
    <div class="contenu">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="champsRecherche">
                <table>
                    <tr>
                        <th><label for="regions">Régions</label></th>
                        <th><label for="departements">Départements</label></th>
                        <th><label for="{{ form.postalCode.id_for_label }}"></label></th>
                        <th><label for="communes">Communes</label></th>
                    </tr>
                    <tr>
                        <td>
                            <select name="regions" id="regions">
                                <option value="">--Choisissez une régions--</option>
                                {% for region in regions %}
                                    <option value="{{ region.libreg }}">{{ region.libreg }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="departements" id="departements">
                                <option value="">--Choisissez un département--</option>
                                {% for departement in departements %}
                                    <option value="{{ departement.libdep }}">{{ departement.libdep }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ form.postalCode }}</td>
                        <td>
                            <select name="communes" id="communes">
                                <option value="">--Choisissez un département--</option>
                                {% for commune in communes %}
                                    <option value="{{ commune.libcom }}">{{ commune.libcom }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bouton">
                <button type="submit">rechercher</button>
            </div>
        </form>
    </div>
    <div>
        {% for resultat in resultats %}
            <p>La commune {{ resultat.libcom }} à le code postal {{ resultat.code_postal }}</p>
        {% endfor %}
    </div>
    <footer>
        <p>@Team.Random()</p>
        <p>CGU</p>
    </footer>
</body>
</html>