<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DESIGN4GREEN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/accueil/css/accueil.css">
</head>
<body>
   <p>test</p>
    <div>
        <img id="logo" src="../../static/accueil/img/logo-inr.jpg">
    </div>
    <div><h1>Projet D4G Team.Random()</h1></div>
    <form action="url ou sont envoye les data collectees" method="get">
        <div>
            <label for="codePostal">Code Postal :</label>
            <input type="number" id="codePostal" name="code_postal">
        </div>
        <div>
            <button type="submit">rechercher</button>
        </div>
    </form>



</body>
</html>